.dashboard {
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

.body {
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.topcard {
  width: 90%;
  height: 186px;
  margin: 0px auto;
  background: #c3e7fd;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.topcardphoto {
  width: 300px;
  border-radius: 10px 0px 0px 10px;
}

.semicircle {
  width: 100px;
  height: 186px;
  background: #d3b4f6;
  border-radius: 1000px 0px 0px 1000px;
  transform: rotate(-180deg);
}

.toptext {
  width: 350px;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bolder;
  font-size: 30px;
  color: #1e272e;
  margin: 30px 0px 0px 10px;
}
.bottomtext {
  width: 350px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #566474;
  margin-top: 0px;
  margin-left: 10px;
}
.viewButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  width: 133px;
  height: 40px;
  background: #1e272e;
  border-radius: 5px;
  color: white;
  margin: auto auto;
}

.viewButton:hover {
  cursor: pointer;
  background-color: #000;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  margin-left: 10px;
}
.card {
  flex: 1 0 21%;
  margin: 5px;
  height: 1000px;
}

.text {
  margin-left: 45px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 31px;
  margin-top: 40px;
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  .cards {
    flex-wrap: wrap;
  }
  .topcard {
    display: none;
    /* width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 8px;
    flex-wrap: wrap; */
  }
  .topcardphoto {
    width: 110px;
    height: 110px;
    padding: 15px;
    margin-top: 50px;
  }
  .semicircle {
    width: 0px;
    height: 0px;
  }
  .viewButton {
    margin-top: 150px;
    left: 40%;
    top: -15%;
  }
  .toptext {
    font-size: 20px;
    text-align: center;
    left: -20%;
    top: -16%;
  }
  .bottomtext {
    font-size: 20px;
    text-align: center;
    left: 0%;
    top: 11%;
  }
}
