.card {
  flex-wrap: wrap;
  min-height: 300px;
  padding: 20px;

  width: 260px;
  float: left;
  /* background-color: #e5e5e5; */
  background-color: #ffffff;
  margin: 24px;
  border-radius: 10px;
}
.image {
  width: 260px;
  height: 160px;
  border-radius: 10px;
}
.title {
  width: 224px;
  height: 31px;
  /* left: 100px;
    top: 690px; */
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: -0.02em;
  color: #1e272e;
}

.description {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #566474;
}

.card button {
  padding: 8px 14px;

  border-radius: 5px;
  border: none;
}
.card a {
  color: white;
  font-size: 15px;
}

.card button:hover {
  background: #142683;
}
.btn {
  background: #3245a5;
}
.deletebtn {
  background: red;
  margin-left: 12px;
}
